body{
    background-color: aquamarine;
    padding:0px 20px;
}

.container{
    /* border:2px solid red; */
    text-align: center;
}

.container .pass{
    background-color:darkgray;
    border-radius: 10px;
}

.container a{
    font-size:30px;
}